<p-toast></p-toast>
<br />
<div class="container">
  <div class="form-group">
    <pucx-wizard [config]="config" (stepChanged)="stepChanged($event)" (finished)="finishWizard()">
      <pucx-step
        *ngFor="let stepDefinition of stepDefinitions"
        [title]="stepDefinition.title"
        [description]="stepDefinition.description"
        [state]="stepDefinition.state"
        [component]="stepDefinition.component"
        [canEnter]="stepDefinition.canEnter"
        [canExit]="stepDefinition.canExit"
      >
      </pucx-step>

      <pucx-step
        [title]="'Passo 6 - error'"
        [description]="'Descrição do passo 6'"
        [state]="stepStates.error"
      >
        <pucx-step6></pucx-step6>
      </pucx-step>

      <pucx-step [title]="'Passo 7'" [description]="'Descrição do passo 7'">
        <span>Conteúdo do passo 7</span>
      </pucx-step>
    </pucx-wizard>
  </div>

  <div class="pt-2"><!--  -->
    <h5>Exibir passo 5</h5>
     <p-inputSwitch [(ngModel)]="checked" (onChange)="handleChange($event)"></p-inputSwitch>
  </div>

  <div class="pt-2"><!--  -->
    <h5>Botões extras</h5>
     <p-inputSwitch [(ngModel)]="botaoExtra" (onChange)="handleBotaoExtra($event)"></p-inputSwitch>
  </div>
</div>
